doctype html  
html
	include include/header.pug
	include include/variables.pug
	body 
		#slider  
			each slide in slidercontent
				.slide-present
					img(src=slide.img) 
					.slider-content  
						img(src=slide.fontImage)
						p= slide.p
		.container-foods 
			.sale 
				h1 SALE
				.all-list
					a See all products
				#viewedProducts 
					each val in viewedfoods 
						.good  
							a(href="javascript:openProductDetail()")
								.good-text
									p= val.text
								.good-img
									img(src=val.img)
								.good-price-and-unit
									.good-price
										p= val.price
									.good-unit  
										.plus 
				.reviews-gradient
		.container-popular 
			.sale 
				h1 POPULAR PRODUCTS
				.all-list
					a See all products
				#popularProducts 
					each val in viewedfoods 
						.good  
							a(href="javascript:openProductDetail()")
								.good-text 
									p= val.text
								.good-img 
									img(src=val.img)
								.good-price-and-unit
									.good-price
										p= val.price
									.good-unit
										.plus 
				.reviews-gradient
		.container-water 
			.sale 
				h1 WATER
				.all-list
					a Show 524 items
				#water  
					each val in viewedfoods 
						.good  
							a(href="javascript:openProductDetail()")
								.good-text 
									p= val.text
								.good-img 
									img(src=val.img)
								.good-price-and-unit
									.good-price
										p= val.price
									.good-unit
										.plus  
				.reviews-gradient
		.container-fruits 
			.sale 
				h1 FRUITS
				.all-list
					a Show 114 items
				#fruits
					each val in viewedfoods 
						.good  
							a(href="javascript:openProductDetail()")
								.good-text 
									p= val.text
								.good-img 
									img(src=val.img)
								.good-price-and-unit
									.good-price  
										p= val.price
									.good-unit
										.plus  
				.reviews-gradient
		.container-milk 
			.sale 
				h1 MILK 
				.all-list
					a Show 541 items
				#milk
					each val in viewedfoods 
						.good  
							a(href="javascript:openProductDetail()")
								.good-text
									p= val.text
								.good-img 
									img(src=val.img)
								.good-price-and-unit
									.good-price
										p= val.price
									.good-unit
										.plus
				.reviews-gradient
		include include/footer.pug 
 
